.navbar{
	width: 2000px;
	height: 30px;
	background-color: black;
}

.title{
	color: black ;
	text-decoration: bold;
	text-align: center;
	font-family: serif;
}

.mainbox{
	align-content: center;
	padding-left: 500px;
	padding-right: 500px;
	width: 500px;
	height: 1500px;
	background-color: #D5DBDB;
}

.rheading{
	color: #E74C3C;

}

.coverimg{
	float: right;
	border-radius: 200px;
	border-width: 20px;
	border-style: solid;
	border-color: white;
}


.seperationbox{
	height: 31px;
	background-color: #E74C3C;
	width: 500px
	padding-right: 500px;
	margin-top: 50px


}

.contactbox{
	border: dashed;
	border-color: white;
	border-width: 5px;



}
































