.header{
	background-color: black;


}
.navbar{
	float: top;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.navbar{
	float: left;
	  display: block;
  padding: 8px;
  background-color: #dddddd;
}



.para{
	background-color: orange;
}
.paratext{
	font-size: 25px;
}
.bodyimg{
	padding-right: 500px
	background-color: white;
}

.header{
	padding-left: 200px;
	padding-right: 200px;
}
.footer{
	background-color: gold;

}
.innermostfooter{
	padding-right: 200px;
}