.header{
	background-color: #00A2FF;
	padding-top: 10px;
	font-size: 20px;
	font-family: arial;
}
.Navvvbar{

}
.navbar{
	float: top;
	list-style-type: none;
	margin: 0px;

	float: left;
	  display: block;
  padding: 8px;
  background-color: orange;
  
}



.para{
	background-color: orange;
}
.paratext{
	font-size: 25px;
	background-color: orange;
}
.bodyimg{
	margin: 0px;
	color: orange;

}

.header{
	padding-left: 200px;
	padding-right: 200px;
}
.footer{
	background-color: gold;

}
.innermostfooter{
	padding-left: 300px;
}


