.navbar{

	float: top;
	list-style-type: none;
	margin: 0px;
	background-color: black;
	width: 1384px;
	height: 30px;

}

.header{
	padding-top: 25px;
	text-align: center;
	background-color: #85C1E9;
}

.para{
	background-color: orange;
	height: 650px;
	margin-left: 25px;
	line-height: 25px;
	}

.art-text{
	line-height: 25px;
	background-color: #85C1E9;
	height: 308px; 
}
.artlink{
	list-style-type: none;
	margin: 0px;
	text-decoration: none;
}

.footer{
	background-color: #FFFB00;

}

.innermostfooter{
	

}
