.navbar{

	float: top;
	list-style-type: none;
	margin: 0px;
	background-color: black;
	width: 1384px;
	height: 30px;

}

.header{
	padding-top: 25px;
	text-align: center;
	background-color: #85C1E9;
}

.landscape{

}

.para{
	background-color: orange;
	height: 640px;
	margin-left: 25px;
	line-height: 50px;
	font-family: Helvetica;
	font-size: 20px
	}

.potteryimg{
	width: 240px;
	float:left;
	padding-left: 452px;
	height: 320px;
}
.art-text{
	/*add margins*/
	background-color: #85C1E9;
	height: 308px; 
	line-height: 50px;
	font-family: Helvetica;
	font-size: 20px

}
.artlink{
	list-style-type: none;
	margin: 0px;
	text-decoration: none;
}

.footer{
	background-color: #FFFB00;

}

.innermostfooter{
	

}
