<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
</style>



.wrapper{
margin: 0 auto;
width: 869px;

}

.banner{
background-color: #D35400;
height: 447px;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;

}

.bannerimg{
	position: absolute;
	top: 50px;
	margin-left: 800px;
	float: right;

}

h4{
	font-weight: bold;
	font-size: 20px

}

h3{
	font-weight: bold;
	font-size: 30px
}

h2{
	font-weight: 800;
	font-size: 50px;

}

h1{
	font-weight: 800;
	font-size: 50px;

}

p{
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px; 
}



.banner h4{
	color: white;
	margin: 0;
}

.banner h3{
	color: white;
	margin: 0;
	margin-bottom: 35px;
}

.banner h1{
	color: white;
	margin-top: 14px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}




.cta1{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #2980B9;
	color: black;
	cursor: pointer;
	outline: none;
	border: none;

}

button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #D35400;
	cursor: pointer;


}

a.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #D35400;
	cursor: pointer;


}

nav{
	position: sticky;
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
	top: 0;
	z-index: 1;

}

nav .logo{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -26.5px;
	margin-left: 30px;
	background-size: 100%;
	overflow: hidden;
	text-decoration: none;
	font-family: cursive;
	color: black;
	font-size: 30px


}

nav ul{
	padding: 0;
	margin: 0;
	margin-right: 20px;

}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	transform: uppercase;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.more-info{
	text-align: center;


}

.more-info h2{
	
}

.more-info p{
	padding-left: 30px;
	padding-right: 30px;
	line-height: 40px;
	margin-bottom: 35px;
}

.more-info button{

	box-sizing: border-box;
}

.highlight{
	background-color: #85C1E9 ;
	color: red;
	padding: 10px;
	display: inline;
	font-weight: 800;
}

.sep{
	width: 470px;
	height: 10px;
	background-color: black;
	margin: 70px auto;

}

.about-us{
	margin-left: 50px;
}

.sample-videos{
	width: 470px;
	padding: 20px 20px 0 20px;
	box-sizing: border-box;
	background-color: #EDEDED;
	float: left;
	position: relative;

}


.sample-videos h3{
	font-size: 40px;


}

.sample-videos li{
	height: 70px;
	border-radius: 10px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	padding: 6px 20px;
	box-sizing: border-box;
	color: black;



}

.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
	position: absolute; 
	top: 70px;
	left: 70px;
	right: -30px;
	transform: rotate(6deg);
	box-shadow: 0 2px 14px rgba(0,0,0, .3)

}

.orange{
	background-color: orange;
}

.dragging{
	background-color: gray;

}
.salmon{
	background-color: salmon;
}

.story p{
	font-size: 30px;
	font-weight: normal;
}

.end-img{
	display: block;
	margin: 0 auto;
}

footer{
	text-align: center;
	color: rgba(0,0,0,.4);
	font-size: 20px;
	margin: 85px 0 45px;
	font-weight: bold;
}

.popup{
	display: none;
}


/*<div class="popup">
		<div class="blanket">
		<div class="content">
			<h2>Contact Details:</h2>
			<form action="">
				<div class="item">
				<label >Your first name</label>
				<input type="text" placeholder="Roberto" value="Bob">
			</div>
			<div class="item">
				<label >Your last name</label>
				<input type="text" placeholder="Salomon" >
			</div>
			<div class="item">
				<label >The Way You Found Us</label>
				<input type="text" placeholder="Youtube" >
			</div>
			<div class="item">
				<label>Reason for Inquiring</label>
				<input type="text" placeholder="I'm a teacher" >
			</div>
			<button class="cta">Send Email!</button>		
			</form>
			<button class="cta">Close</button>

		</div>

	</div>
</div>



*/