<style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');
</style>



.wrapper{
margin-left: 0;
margin-right: 0;
margin-left: auto;
margin-right: auto;
width: 869px;

}

.banner{
background-color: #D35400;
height: 447px;
padding-top: 50px;
padding-bottom: 50px;
padding-left: 20px;
padding-right: 20px;
box-sizing: border-box;

}

.bannerimg{
	position: absolute;
	top: 50px;
	margin-left: 800px;
	float: right;

}

h4{
	font-weight: bold;
	font-size: 20px

}

h3{
	font-weight: bold;
	font-size: 30px
}

h2{
	font-weight: 800;
	font-size: 50px;

}

h1{
	font-weight: 800;
	font-size: 50px;

}

p{
	font-weight: bold;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px; 
}



.banner h4{
	color: white;
	margin: 0;
}

.banner h3{
	color: white;
	margin: 0;
	margin-bottom: 35px;
}

.banner h1{
	color: white;
	margin-top: 14px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
}




.cta1{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #2980B9;
	color: black;

}

button.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #D35400;


}

a.cta{
	font-size: 30px;
	font-weight: bold;
	color: white;
	display: inline-block;
	border-width:10px;
	border: solid;
	border-color: rgba(0, 0, 0, .15);
	padding: 20px 30px;
	border-radius: 10px;
	text-decoration: none;
	background: #D35400;


}

nav{
	position: sticky;
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0, 0, 0, .2);
	top: 0;



}

nav .logo{
	display: block;
	width: 300px;
	height: 40px;
	position: absolute; top: 50%; left: 0;
	margin-top: -26.5px;
	margin-left: 30px;
	background-size: 100%;
	overflow: hidden;
	text-decoration: none;
	font-family: cursive;
	color: black;
	font-size: 30px


}

nav ul{
	padding: 0;
	margin: 0;
	margin-right: 20px;

}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	transform: uppercase;
	font-weight: bold;
	color: black;
	text-decoration: none;
	padding-top: 35px;
	padding-bottom: 35px;
	padding-left: 10px;
	padding-right: 10px;
}

.more-info{


}

.more-info h2{
	text-align: center;
}

.more-info p{
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;
}

.more-info button{
	margin-left: 600px;
	box-sizing: border-box;
	

}



/*<div class="more-info" id="more-info">
		<h2>Get the Videos</h2>
		<p>For the low low price of <span highlight>$19.99,</span>  you can have access to all of Mr. Beacher's videos! So far, they are all uploaded to youtube for you to watch. But, in the future, there will be exclusive interviews, content, and Q&A's with the man himself. Please contact me for inquiries!</p>

		<button class="cta">Contact Me</button>
	</div>*/